body{
	font-family: "微软雅黑";
	font-size: 16px;
	max-width: 980px;
	margin:0 auto;
	background: rgb(250,250,250);
	color: rgb(80,80,80);
}

a{
	text-decoration: none;
}

a:hover{
	color: rgb(170,170,170);
}

header{
	display: block;
	text-align: center;
	font-size: 24px;
}

.container{
	border:1px solid rgb(226,226,226);
	height: 520px;
	margin-bottom: 10px;
	box-shadow: 1px 2px 2px rgb(220,220,220);
}

.container-left{
	float: left;
	width: 680px;
	height: 520px;
}

.container-left video{
	width: 680px;
	height: 520px;
}

.barrage{
	position: absolute;
	top: 500px;
}

.barrage:hover{
	cursor: default;
}

.container-right{
	float: right;
	border-left:2px solid rgb(226,226,226);
	height:520px;
	width: 296px;
}

.right-top{
	height: 74px;
	background: rgb(253,253,253);
	border-bottom: 2px solid rgb(226,226,226);
}

.right-top-left{
	float: left;
	width: 141px;
	border-right: 1px solid rgb(226,226,226);
	height: 66px;
	padding: 5px;
}

.right-top-right{
	float: left;
	padding: 5px;
	height: 64px;
}

.right-bottom{
	height: 446px;
}

.right-bottom-top{
	height: 23px;
	background: rgb(248,248,248);
	width: 296px;
	font-size: 14px;
	color: rgb(195,195,195);
	border-bottom: 1px solid rgb(224,224,224);
}

.right-bottom-top ul{
	font-size: 14px;
	list-style: none;
	margin: 0px;
	margin-left: -34px;
}

#video-time{
	width: 44px;
	margin-left: -6px;
}

#comment{
	width: 140px;
}

#send-time{
	width: 86px;
}

.right-bottom-top ul li{
	float: left;
	margin-right: 0px;
	height: 23px;
	padding-left: 6px;
}

.right-bottom-top ul li:hover{
	background: rgb(204,225,255);
	cursor: default;
}

.right-bottom-list{
	height: 93.72197%;
	width: 296px;
	background: rgb(255,255,255);
}

footer{
	position: absolute;
	bottom: -20px;
	margin-top: 10px;
	text-align: center;
	width: 980px;
}